{% extends 'MsiAdminBundle:Admin:index.html.twig' %}

{% block sidebar %}
<ul id="sortable1" class="list-unstyled" data-url="{{ admin.genUrl('sort') }}">
    {% for item in admin.grid.rows if item.lvl %}
        {% set l = loop.index %}
        <li id="{{ item.id }}" data-lvl="{{ item.lvl }}" data-lft="{{ item.lft }}" data-rgt="{{ item.rgt }}">
            {% for i in 0..item.lvl %}
                {% if i != 0 %}
                    {% if item.lvl and i < item.lvl %}
                        {% if i < item.lvl and i > 1 %}
                            <i class="icon-minus"></i>
                        {% else %}
                            <i class="icon-minus"></i>
                        {% endif %}
                    {% else %}
                        {% if item.rgt == item.parent.rgt - 1 %}
                            <i class="icon-minus"></i>
                        {% else %}
                            <i class="icon-minus"></i>
                        {% endif %}
                        {#<i class="icon-folder-open"></i>#}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {{ item.translation.name|truncate(9, false, '...') }}
        </li>
    {% endfor %}
</ul>
{% endblock sidebar %}

{% block js %}
{{ parent() }}
<script src="{{ asset('bundles/msiadmin/js/tree.js') }}"></script>
{% endblock js %}
