{% extends 'VorCoreBundle::layout.html.twig' %}

{% block content %}
<p class="lead"><strong>Item: NDA #{{ product.id }}</strong></p>
{{ product.translation.content|raw }}
<p class="lead"><strong>Price: ${{ product.price }}</strong></p>
<hr>
<div class="row">
    <div class="col-md-6">
        <p><img class="img-responsive" src="{{ product.images.first.pathname('filename', '0') }}" alt="0"></p>
    </div>
    <div class="col-md-6">
        {% for image in product.images %}
            {% if loop.index == 1 or loop.index % 3 == 1 %}<div class="row">{% endif %}
                <div class="col-md-4">
                    <a href="#" class="box-img"><img class="img-responsive" src="{{ image.pathname('filename', '1') }}" alt="0"></a>
                </div>
            {% if loop.index == product.images|length or loop.index % 3 == 0 %}</div>{% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block title %}{{ product }}{% endblock %}

{% block sidebar %}
{{ render(url('msi_store_productcategory_nav', {'category': app.request.query.get('category')})) }}
{% endblock %}
