<h4>Categories</h4>
<ul class="list-unstyled">

{% for child in category.children %}
    <li><a href="{{ path('msi_store_product_index', {'category': child.id}) }}">{{ child|truncate(30) }} ({{ child.countProductsRecursively }})</a></li>
    {% if child.children|length and current_category == child %}
        <li><ul class="list-unstyled" style="padding-left: 10px;">
        {% for item in child.children %}
            <li><a href="{{ path('msi_store_product_index', {'category': item.id}) }}">{{ item|truncate(30) }} ({{ item.countProductsRecursively }})</a></li>
        {% endfor %}
        </ul></li>
    {% endif %}
{% endfor %}
</ul>
