<h2>Cart Item List</h2>
<table class="table">
<thead>
    <tr>
        <th>produit</th>
        <th>prix</th>
        <th>quantité</th>
        <th>total</th>
    </tr>
</thead>
<tbody>
    {% for item in cart.items %}
    <tr>
        <td>{{ item.product.translation.name }}</td>
        <td>${{ item.product.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>${{ additionStrategy.cartItemTotal(item) }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan=3></td>
        <td>${{ additionStrategy.cartTotal(cart) }}</td>
    </tr>
</tbody>
</table>
